In [170]:
#### LIBRAIRIES ####
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [171]:
#### DATA IMPORT ####
data = pd.read_csv('../data/HR_Data_cleaned.csv')
data.head()

,Unnamed: 0,enrollee_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,0,32403,city_41,0.827,Male,Has relevant experience,Full time course,Graduate,STEM,9,0-10,Unknown,1,21,1.0
1,1,9858,city_103,0.920,Female,Has relevant experience,No enrollment,Graduate,STEM,5,Unknown,Pvt Ltd,1,98,0.0
2,2,31806,city_21,0.624,Male,No relevant experience,No enrollment,High School,Unknown,0,Unknown,Pvt Ltd,0,15,0.0
3,3,27385,city_13,0.827,Male,Has relevant experience,No enrollment,Masters,STEM,11,10-49,Pvt Ltd,1,39,1.0
4,4,27724,city_103,0.920,Male,Has relevant experience,No enrollment,Graduate,STEM,21,10000+,Pvt Ltd,5,72,0.0